<h1> this is the about page, welcome</h1>
<div class="manually generate">
<a href="/pages/about"> about</a>
<a href="/pages/contact"> contact us</a>
</div>

<div class="auto generate">
<%= link_to("About", about_path ) %>
<%= link_to("Contact us",  contact_path ) %>
</div>

<div>
    <%= image_tag("flower.jpg", alt: ' cute flower') %>
</div>

<div class="flowerbunch">
    
</div>